{# Copied from https://github.com/open-telemetry/semantic-conventions/blob/v1.41.1/templates/registry/markdown/entity_macros.j2 #}
{#- Macros for simplifying creating "Entity" documentation for GenAI (v2). -#}
{% import 'requirement.j2' as requirement %}
{% import 'stability.j2' as stability %}
{% import 'notes.j2' as notes %}
{% import 'attribute_macros.j2' as attrs %}
{% import 'enum_macros.j2' as enums %}
{% import 'examples_macros.j2' as examples %}

{#- Create registry URLs. -#}
{% macro registry_url(id, registry) -%}
{{registry}}/{{ id | split_id | list | first | kebab_case }}.md#{{ id | kebab_case }}
{%- endmacro %}

{#- Create role tags #}
{% macro role_tag(role) -%}
{% if role == "identity" %}Identity
{% elif role == "description" %}Description
{% else %}Other
{% endif %}
{%- endmacro %}

{#- Header for snippets. -#}
{% macro header(entity) -%}
**Status:** {{ stability.badge(entity.stability, entity.deprecated, entity.brief) | trim }}

**type:** `{{ entity.type }}`

**Description:** {{ entity.brief | trim }}
{%- if entity.note %}

{{ entity.note | trim }}
{%- endif %}
{%- endmacro %}

{#- Render a single row on the entity table. -#}
{% macro attribute_row(attribute, attribute_registry_base_url, upstream_docs_base, notes, role) -%}
| {{ role_tag(role) | trim }} | {{ attrs.name_with_link(attribute, attribute_registry_base_url, upstream_docs_base) }} | {{ stability.badge(attribute.stability, attribute.deprecated, attribute.brief) | trim }} | {{ requirement.render({"level": attribute.requirement_level, "name": attrs.name(attribute)}, notes) | trim }} | {{ attrs.type(attribute) }} | {{ attribute.brief | trim }}{{ notes.add({"note": attribute.note, "name": attrs.name(attribute)}) }} | {{ examples.format(attribute) }}|
{%- endmacro %}

{#- Render attribute tables for entities. -#}
{% macro attribute_table(attributes, attribute_registry_base_url, upstream_docs_base, notes, role) %}{% for attribute in attributes | attribute_sort %}{{ attribute_row(attribute, attribute_registry_base_url, upstream_docs_base, notes, role) }}
{% endfor %}
{%- endmacro %}

{% macro all_attribute_table(e, attribute_registry_base_url="/docs/registry/attributes", upstream_docs_base="https://github.com/open-telemetry/semantic-conventions/blob/main") -%}
{% set id_attrs = e.identity | default([]) %}{% set desc_attrs = e.description | default([]) %}

**Attributes:**

| Role | Key | Stability | [Requirement Level](https://opentelemetry.io/docs/specs/semconv/general/attribute-requirement-level/) | Value Type | Description | Example Values |
| --- | --- | --- | --- | --- | --- | --- |{%- if id_attrs | length > 0 %}
{{ attribute_table(id_attrs, attribute_registry_base_url, upstream_docs_base, notes, "identity") | trim }}{% endif %}{%- if desc_attrs | length > 0 %}
{{ attribute_table(desc_attrs, attribute_registry_base_url, upstream_docs_base, notes, "description") | trim }}{% endif %}

{{ notes.render() | trim }}

{{ enums.tables((id_attrs + desc_attrs) | selectattr("type", "mapping"), notes) | trim }}
{%- endmacro %}
